.alert-join-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-join-us .button-section {
  display: flex;
  width: 180px;
  justify-content: space-between;
  /* 禁止flex导致的按钮区域收缩变形 */
  flex-shrink: 0;
}

.button-w80 {
  width: 80px;
}

