.alert-join-us {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-join-us .button-section {
  display: flex;
  width: 180px;
  justify-content: space-between;
  /* 禁止flex导致的按钮区域收缩变形 */
  flex-shrink: 0;
}

.alert-contain {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
}

.button-w80 {
  width: 80px;
}

/* 页面主体 */
main {
  display: flex;
  padding: 24px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

main .left-content {
  width: 694px;
  flex-shrink: 0;
  height: 200px;
  margin-right: 10px;
  background: #000;
}

main .right-content {
  width: 448px;
  height: 200px;
  background: #000;
}
