body {
  min-width: 1200px;
}

/* 轮播样式 */
#carouselExampleDark {
  max-width: 1200px;
  margin: auto;
}
#carouselExampleDark button {
  width: 8%;
}
#carouselExampleDark > button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.carousel-indicators {
  margin-bottom: 0;
}

.carousel-indicators button {
  background-color: #fff !important;
}

/* 导航 */
.tab-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-menu ul {
  display: flex;
  padding: 0;
  margin: 24px;
  height: 50px;
  list-style: none;
  font-size: 16px;
  box-shadow: 0 0 10px #dbdbdb;
  border-radius: 10px;
}

.tab-menu ul li {
  position: relative;
  display: flex;
  align-items: center;
  padding: 24px 48px;
  cursor: pointer;
}

.tab-menu ul li:hover {
  color: gray;
}

.tab-menu ul li::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 20px;
  background: #d8d8d8;
}

.tab-menu ul li:last-child::after {
  display: none;
}
